<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h2 class="white-text">Current Weather in your City</h2>
      <form class="formStyle">
        <input
          type="text"
          name="cityParam"
          class="grey lighten-3 black-text"
          [(ngModel)]="cityParam"
          placeholder="Enter your city"
        />
        <a routerLink="/results/{{ cityParam }}"
          ><input
            type="button"
            class="btn waves-effect waves-pink deep-purple white-text"
            value="Get Weather"
        /></a>
      </form>
    </div>
  </div>
</div>
